---

import Project from "./project.astro";
import {projectsList} from '../../helpers/api';

---

<div class="mt-16 container">
    <div class="flex justify-center">
        <h2 class="text-gray-100 text-2xl lg:px-4 lg:py-1 lg:rounded-lg lg:bg-gray-700 lg:relative before:absolute before:content-[''] before:w-px before:h-7 before:top-full before:left-1/2 before:translate-x-px before:bg-gray-600 before:hidden lg:before:block"> My Projects </h2>
    </div>
    <ul class="list-none grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-16 mt-6 relative before:absolute before:content-[''] before:bg-gray-600 before:top-0 before:left-2 lg:before:left-1/2 before:w-px before:h-full pl-2 lg:pl-0">
        {projectsList.map((projects, index) => (
                <li class="pl-6 lg:pl-0">
                    <Project projects={projects} reverse={index%2 == 0} />
                </li>
        ))}
    </ul>
</div>

<!--modal layer-->
<div class="fixed hidden top-0 left-0 size-full bg-gray-900/50" id="exp-layer" onclick="closeModal()"></div>

<!-- modal content-->
<div class="fixed hidden z-[1] top-0 left-0 size-full bg-gray-800 lg:rounded-lg p-4 overflow-auto md:top-1/2 md:left-1/2 md:h-auto md:max-w-xl md:-translate-x-1/2 md:-translate-y-1/2 md:max-h-[75vh] md:rounded-lg lg:max-w-3xl" id="exp-content">
    <!--close-->
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7 absolute top-4 right-4 text-gray-200 cursor-pointer" onclick="closeModal()">
        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>

    <h2 class="text-gray-200 text-xl pr-10"></h2>
    <p class="text-gray-400 text-base leading-7 tracking-wide mt-4"></p>

    <ul class="list-none flex items-center gap-2 flex-wrap mt-10"></ul>
    <div class="flex justify-center mt-6">
        <a href="#" class="flex items-center rounded-md bg-indigo-500 hover:bg-indigo-400 transition-all h-10 text-gray-100 text-lg px-10" target="_blank"> Demo </a>
    </div>
</div>

<script>

    // const showElement = (id) => {
    //     const elem = document.getElementById(id);
    //     elem.classList.remove("hidden");
    // }
    //
    // const showContent = (id, obj) => {
    //     const elem = document.getElementById(id);
    //     const title = elem.querySelector("h2");
    //     const description = elem.querySelector("p");
    //     const list = elem.querySelector("ul");
    //     const a = elem.querySelector("a");
    //
    //     list.innerHTML = "";
    //     title.textContent = obj.title;
    //     description.textContent = obj.description;
    //     obj.techList.forEach(tech => {
    //         const li = document.createElement("li");
    //         li.classList.add('px-4', 'h-9', 'rounded', 'bg-gray-900', 'text-green-500', 'select-none', 'flex', 'items-center', 'gap-2');
    //         const span = document.createElement("span");
    //         span.textContent = tech.title;
    //         span.classList.add('text-sm');
    //         const img = document.createElement("img");
    //         img.src = tech.icon;
    //         img.classList.add('h-6', 'flex-none');
    //         li.appendChild(img);
    //         li.appendChild(span);
    //         list.appendChild(li);
    //     });
    //     a.href = obj.link;
    // }
    //
    // window.toggleDetailModal = (obj) => {
    //     showElement('exp-layer');
    //     showElement('exp-content');
    //     showContent('exp-content', obj);
    // }

    const hideElement = (id) => {
        const elem = document.getElementById(id);
        elem.classList.add("hidden");
    }

    window.closeModal = () => {
        const content = document.getElementById("exp-content");
        content.scrollTop = 0;

        hideElement("exp-content");
        hideElement("exp-layer");
    }

</script>