---

const currentPath = Astro.url.pathname;

---

<header class="fixed bottom-4 left-1/2 -translate-x-1/2 sm:translate-x-0 sm:h-16 sm:bg-gray-800 sm:w-full z-10 sm:sticky sm:top-0 sm:left-0" id="main-header">
    <ul class="hidden sm:container list-none sm:flex items-center sm:gap-6 sm:h-full text-gray-100 sm:*:h-10 sm:*:relative sm:*:flex *:items-center *:cursor-pointer *:before:hidden sm:*:before:block *:before:absolute *:before:content-[''] *:before:w-full *:before:h-0.5 *:before:transition-transform *:before:bg-green-500 *:before:bottom-0 *:before:rounded *:before:origin-center">
        <li class={`hover:before:scale-x-100 ${currentPath === '/' ? 'before:scale-x-100' : 'before:scale-x-0'}`}>
            <a href="/" class=""> Home </a>
        </li>
        <li class={`hover:before:scale-x-100 ${currentPath === '/projects' ? 'before:scale-x-100' : 'before:scale-x-0'}`}>
            <a href="/projects" class={currentPath}> Projects </a>
        </li>
        <li class={`hover:before:scale-x-100 ${currentPath === '/experiences' ? 'before:scale-x-100' : 'before:scale-x-0'}`}>
            <a href="/" class=""> Experiences </a>
        </li>
        <li class={`hover:before:scale-x-100 ${currentPath === '/contact' ? 'before:scale-x-100' : 'before:scale-x-0'}`}>
            <a href="/" class=""> Contacts </a>
        </li>
    </ul>

    <button type="button" role="button" aria-label="mobile-header" onclick="toggleMenu()" class="size-14 relative rounded-full bg-gray-800 transition-all flex items-center justify-center sm:hidden text-gray-200 border border-gray-600" id="mobile-menu-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
        </svg>
    </button>

    <div class="contents sm:hidden mobile-menu-list text-sm font-medium *:transition-all *:absolute">
        <div class={`top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 invisible bg-gray-700 px-2.5 py-0.5 rounded mobile-menu-item ${currentPath === '/' ? 'text-green-500' : 'text-gray-200'}`}>
            <a href="/" class=""> Home </a>
        </div>
        <div class={`top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 invisible bg-gray-700 px-2.5 py-0.5 rounded mobile-menu-item ${currentPath === '/projects' ? 'text-green-500' : 'text-gray-200'}`}>
            <a href="/projects" class=""> Projects </a>
        </div>
        <div class={`top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 invisible bg-gray-700 px-2.5 py-0.5 rounded mobile-menu-item ${currentPath === '/experiences' ? 'text-green-500' : 'text-gray-200'}`}>
            <a href="/" class=""> Experiences </a>
        </div>
        <div class={`top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 invisible bg-gray-700 px-2.5 py-0.5 rounded mobile-menu-item ${currentPath === '/contact' ? 'text-green-500' : 'text-gray-200'}`}>
            <a href="/" class=""> Contacts </a>
        </div>
    </div>
</header>

<script client:load>
    let showSmHeader = false;
    const mobileMenuList = document.querySelector(".mobile-menu-list");
    const mobileMenuItems = document.querySelectorAll(".mobile-menu-item");
    const mobileMenuBtn = document.getElementById("mobile-menu-btn");
    const mainHeader = document.getElementById("main-header");

    const toggleMenu = () => {
        showSmHeader = !showSmHeader;
        if(showSmHeader) {
            mobileMenuItems.forEach(item => {
                item.classList.remove('opacity-0', 'invisible');
            })
            mobileMenuList.classList.add('active');
            mobileMenuBtn.classList.add('bg-gray-700');
            mainHeader.classList.add('active');
        } else {
            mobileMenuItems.forEach(item => {
                item.classList.add('opacity-0', 'invisible');
            })
            mobileMenuList.classList.remove('active');
            mobileMenuBtn.classList.remove('bg-gray-700');
            mainHeader.classList.remove('active');
        }
    }
</script>