---

---

<section class="seprate-section container mt-16" id="contact-section">
    <h2 class="text-3xl text-center text-gray-100"> Contact </h2>
    <ul class="flex flex-col sm:flex-row sm:items-center sm:justify-center gap-4 list-none *:py-10 *:px-4 *:rounded-lg mt-6 *:w-full sm:*:w-48">
        <!--linkedin-->
        <li class="flex items-center sm:flex-col gap-4 sm:gap-8 sm:border sm:border-gray-600 sm:hover:border-green-500 sm:transition-all">
            <a href="https://www.linkedin.com/in/mestermim/" target="_blank" class="size-16 sm:size-20 rounded-full overflow-hidden p-2 flex items-center justify-center bg-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="h-full text-blue-800" focusable="false">
                    <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                </svg>
            </a>

            <a href="https://www.linkedin.com/in/mestermim/" class="block text-center text-lg font-medium text-gray-400">
                Linkedin
            </a>
        </li>
        <!--gmail-->
        <li class="flex items-center sm:flex-col gap-4 sm:gap-8 sm:border sm:border-gray-600 sm:hover:border-green-500 sm:transition-all">
            <a href="mailto:themestermim@gmail.com" target="_blank" class="size-16 sm:size-20 rounded-full overflow-hidden p-2 flex items-center justify-center bg-gray-300">
                <img src="/assets/contact/gmail.png" alt="Gmail" />
            </a>

            <a href="mailto:themestermim@gmail.com" class="block text-center text-lg font-medium text-gray-400">
                Gmail
            </a>
        </li>
        <!--call-->
        <li class="flex items-center sm:flex-col gap-4 sm:gap-8 sm:border sm:border-gray-600 sm:hover:border-green-500 sm:transition-all">
            <a href="tel:+989307065673" target="_blank" class="size-16 sm:size-20 rounded-full overflow-hidden p-2 flex items-center justify-center bg-gray-300">
                <img src="/assets/contact/call.webp" alt="Call" />
            </a>

            <a href="tel:+989307065673" class="block text-center text-lg font-medium text-gray-400">
                Call
            </a>
        </li>
    </ul>
</section>